<h1><%= t('edit_project') %></h1>

<%= render 'form', project: @project %>

<%= link_to t('show'), @project, class: 'btn btn-info' %> |
<%= link_to t('back'), projects_path, class: 'btn btn-default' %>
